<nav class="navbar navbar-default">
    <div class="container-fluid" >
      <div class="navbar-header">
        <a href="#" (click)="onSelected('home')" class="navbar-brand">
            <img src="itinerarylogo.png" alt="logo" class="img-fluid" style="max-width: 250px;" >
          </a>
      </div>
  
      <div class="collapse navbar-collapse" style="padding: 2rem; font-size: 2rem;" >
        <ul class="nav navbar-nav">
          <li><a href="#" (click)="onSelected('home')">Home</a></li>
          <li><a href="#" (click)="onSelected('trips')">My Trips</a></li>
          <li><a href="#guide">Guide</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li appDropdown class="dropdown">
            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
              User <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#" (click)="onSelected('profile')">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
  
    