<a
          href="#"
          class="list-group-item clearfix"
          (click)="onSelected()"
          [ngStyle]="{'background-image': 'url(' + trip.imageUrl + ')'}"
          style="background-size: cover; background-position: center; ">
          <div style= "color: white;">
            <h3 style="padding-bottom: 5rem; text-shadow: 1px 1px 2px rgba(33, 33, 33, 0.8)">{{ trip.destination }}</h3>
            <div class="pull-right" style="background-color: #39618E; padding: .6rem; opacity: 90%;">
                <p class="list-group-item-text">{{ trip.startDate | date:'MM/dd/yy' }} - {{ trip.endDate | date:'MM/dd/yy' }}</p>
            </div>
          </div>
</a>