<div class="panel panel-default">
    <div class="panel-heading clearfix" style="background-image: url('{{ trip.imageUrl }}');background-size: cover; background-position: center;">
      <div class="pull-left">
        <h1 class="panel-title" style="font-size: 2em; color: white; text-shadow: 1px 1px 2px rgba(33, 33, 33, 0.8);">{{ trip.destination }}</h1>
      </div>
      <div class="clearfix"></div>
        <div class="pull-right">
            <a href="#" class="btn btn-primary btn-sm" style="margin: 5px;">Edit</a>
            <a href="#" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>
    <app-detail-nav (selectedFeatureEvent)="switchView($event)"></app-detail-nav>
    <app-itinerary 
      *ngIf="selectedFeature === 'calendar'" 
      [trip]="trip">
      </app-itinerary> 
    <app-todo *ngIf="selectedFeature === 'todo'" style="width: 100%"></app-todo>
  </div>
  