<div class="panel panel-default" style="border: none; background-color: rgb(233, 234, 240); ">
  <div class="text-left" style="padding: 0 2rem;">
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-success" data-toggle="modal" data-target="#addItineraryModal">
          Add Itinerary Item
        </button>
      </div>
    </div>
    <div *ngFor="let date of getDatesInRange(trip.startDate, trip.endDate)">
      <h4 class="datefull">{{ date | date: 'fullDate' }}</h4>
      <div *ngFor="let item of getItemsForDate(date)">
        <!-- Click to show item details -->
          <div [ngStyle]="{'background-color': getCategoryColor(item.category)}" class="category-display">
            <p class="uppercase">{{ item.category }}</p>   
         <p><i>{{ item.startTime }} - {{ item.endTime }}</i></p>
          <p>{{ item.title }}
         </p>
         <a (click)="showItemDetails(item)" class="pull-right">
         <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
        </svg>
      </a>
      </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row" *ngIf="selectedItem">
      <div class="col-xs-12">
        <div [ngStyle]="{'background-color': getCategoryColor(selectedItem.category)}" class="category2">
          <p class="uppercase"> {{ selectedItem.category }}</p>
        </div>
        <h4 style="text-align: center;"><strong>{{ selectedItem.title }}</strong></h4>
        <p><strong>Dates:</strong> {{ selectedItem.dateStart | date:'MM/dd/yy' }} - {{ selectedItem.dateEnd | date:'MM/dd/yy' }}</p>
        <p><strong>Times:</strong> {{ selectedItem.startTime }} - {{ selectedItem.endTime }}</p>
        <p><strong>Details:</strong> {{ selectedItem.description }}</p>
        <p><strong>Location:</strong> {{ selectedItem.location }}</p>
        <p><strong>Links: </strong> <a [href]="selectedItem.link" target="_blank">{{ selectedItem.link }}</a></p>
      </div>
    </div>
  </div>
</div>



<!-- Modal for adding a new itinerary item -->
<div id="addItineraryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addItineraryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItineraryModalLabel">Add Itinerary Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]="newItem.title" name="title" type="text" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="dateStart">Start Date</label>
            <input [(ngModel)]="newItem.dateStart" name="dateStart" type="date" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="dateEnd">End Date</label>
            <input [(ngModel)]="newItem.dateEnd" name="dateEnd" type="date" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="startTime">Start Time</label>
            <input [(ngModel)]="newItem.startTime" name="startTime" type="time" class="form-control">
          </div>

          <div class="form-group">
            <label for="endTime">End Time</label>
            <input [(ngModel)]="newItem.endTime" name="endTime" type="time" class="form-control">
          </div>

          <div class="form-group">
            <label for="category">Category</label>
            <select [(ngModel)]="newItem.category" name="category" class="form-control" required>
              <option value="" disabled selected>Select a category</option>
              <option value="travel">Travel</option>
              <option value="accommodation">Accommodation</option>
              <option value="activity">Activity</option>
              <option value="restaurant">Restaurant</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="form-group">
            <label for="description">Details</label>
            <textarea [(ngModel)]="newItem.description" name="description" class="form-control" required></textarea>
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input [(ngModel)]="newItem.location" name="location" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="link">Links</label>
            <input [(ngModel)]="newItem.link" name="link" type="url" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">Add Item</button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="closeModalButton2"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          style="display: none;">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
