.hero {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    text-align: right;
    grid-gap: 3rem; 
}

.hero img {
    border-radius: 50px; 
}

a {
    border-radius: 15px; 
    margin-bottom: 3rem; 
    border: none; 
}

a:hover {
    background: #39618E; 
    transition: 0.2s ease-in-out;
}

.bottom {
    height: 100px; 
    background: #E8DCCD; 
}