.hero {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    text-align: right;
    grid-gap: 3rem; 
}

.hero img {
    border-radius: 50px; 
}

a {
    border-radius: 15px; 
    margin-bottom: 3rem; 
    border: none; 
}

.button-div a:hover {
    background: #39618E; 
    transition: 0.2s ease-in-out;
}

.bottom { 
    background: #E8DCCD; 
}

.bottom1 {
    background-image: url("https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.bottom-flex {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 2rem; 
}

.text {
   text-align: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7); 
}

.categories { 
    padding: 2rem; 
}

.categories h1 {
    margin: 2rem;
}

.category-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center; 
}

.category {
    padding: 1rem; 
    border: 3px solid #5d674d;
    border-radius: 30px; 
    margin: 1rem; 
    background: #5d674d; 
    color: white; 
    font-size: 1.5rem; 
    cursor: pointer; 
}

.category img {
    border-radius: 18px; 
}

input {
    padding: .5rem; 
    margin: .5rem; 
    border: none; 
    font-size: 1rem;
}

.text button {
    padding: .5rem 1rem; 
    border: none; 
    background: #39618E; 
    color: white; 
    font-size: 1rem; 
    cursor: pointer; 
}

.footer {
    background-color: #5d674d;
    color: #ffffff;
    padding: 1rem; 
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 25%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section a:hover {
    color: #bbb6da;
}

.footer-section .social {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.footer-section .social a {
    margin: 20px 0; 
    color: #ffffff;
    font-size: 30px; 
    transition: color 0.3s ease;
}

i {
    margin: 10px; 
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

footer p {
    color: white; 
}